@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(253, 236, 215, 1);
  color: rgba(26, 44, 50, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.n-header.is-open .n-header-background {
  left: 0;
}
.n-header-button-wrapper {
  margin-left: auto;
}
.n-header-icon {
  display: none;
}

.n-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.n-navigation-list.is-open {
  right: 0;
}
.n-header-icon-menu {
  display: block;
}

.n-header-icon-button.is-open .n-header-icon-menu {
  display: none;
}

.n-header-icon-button.is-open .n-header-icon-close {
  display: block;
}

.n-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(251, 223, 194, 1);
}
.n-title-img {
  width: 297px;
  height: 24px;
}
.n-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(251, 223, 194, 1);
}
.n-header.is-open .n-header-background {
  left: 0;
}
.n-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n-header-icon-menu {
  display: block;
}

.n-header-icon-button.is-open .n-header-icon-menu {
  display: none;
}

.n-header-icon-button.is-open .n-header-icon-close {
  display: block;
}

.n-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 26px 16px;
  position: relative;
}

.n-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 257px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;

  gap: 12px;
  background: rgba(251, 223, 194, 1);
}

.n-navigation-list.is-open {
  right: 0;
}

.n-navigation-link {
  font-family: Inika;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(26, 44, 50, 1);
}

.n-navigation-link:hover,
.n-navigatioт-link:focus {
  font-weight: 700;
}

.n-header.is-open {
  background-color: transparent;
}

.n-navigation-img {
  display: none;
}

@media screen and (min-width: 1203px) {
  .n-navigation-img {
    display: flex;
    width: 297px;
    height: 72px;
    margin-right: 50px;
  }
  .n-policy-terms-header-icon-menu {
    display: none;
  }

  .n-header {
    width: 100%;
    height: 120px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .n-header-background {
  }
  .n-header-icon-button {
    display: none;
  }
  .n-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .n-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 18px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .n-navigation-link {
    font-family: Inika;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;

    text-decoration: none;
  }

  .n-navigation-link:hover,
  .n-navigation-link:focus {
    font-weight: 700;
  }

  .n-navigation-item-desk {
    display: none;
  }
}
.n-home {
  width: 375px;
  height: 628px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40044.png");
  margin: auto;
}
.n-home-container {
  width: 375px;
  padding: 228px 16px 0px;
  margin: auto;
}

.n-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.n-home-title {
  font-family: Inknut Antiqua;
  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  -webkit-text-stroke: 2px rgba(246, 183, 123, 1);
  color: rgba(254, 247, 238, 1);
  padding-bottom: 200px;
}

.n-home-google-button-image {
  width: 314px;
  height: 134px;
}

.n-home-google-button-link:hover .n-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1203px) {
  .n-home {
    width: 1440px;
    height: 931px;
    background-image: url("/img/home/Frame\ 40045.png");
  }
  .n-home-container {
    width: 1440px;
    padding: 343px 0px 0px;
  }

  .n-home-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-bottom: 280px;
  }
}

.n-why-container {
  width: 375px;
  margin: auto;
  padding: 88px 16px 0 15px;
  position: relative;
}
.n-why-image {
  position: absolute;
  width: 120px;
  height: 162px;
  top: 60px;
  left: 245px;
}
.n-why-text-bold {
  font-family: Inika;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 48px 0 24px;
}
.n-why-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.n-why-item {
  display: flex;
  gap: 12px;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  gap: 12px;
  padding: 8px;
  border-radius: 16px;
}
.n-why-img {
  width: 32px;
  height: 32px;
}
.n-why-text {
  font-family: Inika;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1203px) {
  .n-why-container {
    width: 1440px;
    padding: 120px 71px 0 67px;
  }
  .n-why-image {
    position: absolute;
    width: 275px;
    height: 371px;

    top: 163px;
    left: 1150px;
  }
  .n-why-text-bold {
    font-family: Inika;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 120px 0 24px;
    width: 1077px;
  }
  .n-why-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 111px;
  }
  .n-why-item {
    display: flex;
    gap: 24px;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 16px;
    width: fit-content;
    border-radius: 16px;
  }
  .n-why-img {
    width: 40px;
    height: 40px;
  }
  .n-why-text {
    font-family: Inika;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.n-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 15px 0;
}
.n-uniqueness-text-bold {
  font-family: Inika;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 48px 0 24px;
}
.n-uniqueness-lists {
  display: none;
}
.n-uniqueness-item {
  width: 253px;
  height: 384px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  margin: 0 8px;
}
.n-uniqueness-img {
  width: 221px;
  height: 272px;
}
.n-uniqueness-text {
  font-family: Inika;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 8px;
}

@media screen and (min-width: 1203px) {
  .n-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 120px 71px 0 67px;
  }
  .n-uniqueness-text-bold {
    font-family: Inika;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 56px 0 24px;
  }
  .n-uniqueness-list {
    display: none;
  }
  .n-uniqueness-lists {
    display: flex;
    gap: 115px;
  }
  .n-uniqueness-item {
    width: 357px;
    height: 501px;
    padding: 24px;

    margin: 0;
  }
  .n-uniqueness-img {
    width: 306px;
    height: 329px;
  }
  .n-uniqueness-text {
    font-family: Inika;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 16 px;
  }
}

.n-about-container {
  width: 375px;
  padding: 71px 15px 0px;
  margin: auto;
}
.n-about-title {
  font-family: Inknut Antiqua;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
}
.n-about-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 48px;
}
.n-about-text {
  font-family: Inika;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1203px) {
  .n-about-container {
    width: 1440px;
    padding: 112px 71px 0 67px;
  }
  .n-about-title {
    font-family: Inknut Antiqua;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .n-about-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    padding-top: 56px;
    align-items: center;
  }
  .n-about-text {
    font-family: Inika;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.n-how-container {
  margin: auto;
  width: 375px;
  padding: 88px 15px 0;
}
.n-how-list {
  padding: 48px 0 32px;
}
.n-how-lists {
  display: none;
}

.n-how-item {
  width: 344px;
  height: 115px;
  background: #ddeff0;
  box-shadow: 0px 0px 60px 0px #fff8e44d;

  padding: 16px;
  margin: 5px;
}

.n-how-text-bold {
  font-family: Inknut Antiqua;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.n-how-text {
  font-family: Inika;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 32px;
  height: 32px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Ellipse\ 4.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Ellipse\ 3.png") no-repeat center/cover;
}

@media screen and (min-width: 1203px) {
  .n-how {
    width: 1440px;
    height: 751px;
    background-image: url("/img/Frame\ 40044.png");
    margin: auto;
  }
  .n-how-container {
    margin: auto;
    width: 1440px;
    padding: 110px 71px 0 67px;
  }
  .n-how-list {
    display: none;
  }
  .n-how-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
    gap: 189px;
    row-gap: 24px;
  }

  .n-how-item {
    width: 306px;
    height: 217px;
    padding: 24px;
    margin: 0px;
  }
  .n-how-item-two {
    margin-left: 247px;
  }
  .n-how-text-bold {
    font-family: Inknut Antiqua;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .n-how-text {
    font-family: Inika;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.n-characters-container {
  padding: 88px 16px 120px 15px;
  margin: auto;
  width: 375px;
}

.n-characters-text {
  font-family: Inika;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 48px;
}

@media screen and (min-width: 1203px) {
  .n-characters-container {
    padding: 120px 71px 140px 67px;
    margin: auto;
    width: 1440px;
  }
  .n-characters-text {
    font-family: Inika;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 56px;

    width: 857px;
  }
}

.n-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 15px 0;
}
.n-gallery-list {
  padding: 48px 0 32px;
}

.n-gallery-item {
  width: 344px;
  height: 193px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.n-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.n-gallery-link {
  display: none;
}
@media screen and (min-width: 1203px) {
  .n-gallery-link {
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }
  .n-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 71px 0 67px;
  }
  .n-gallery-item {
    width: 747px;
    height: 420px;

    margin: 0 12px;
  }

  .n-gallery-list {
    padding: 56px 0 48px;
  }
}

.n-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.n-policy-terms-title {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.n-policy-terms-text {
  padding-top: 20px;
  font-family: "Inika", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.n-policy-terms-texts {
  padding-top: 8px;
}

.n-policy-terms-text-one {
  padding-top: 20px;
}

.n-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.n-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.n-email-link {
  color: inherit;
  text-decoration: none;
}

.n-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1203px) {
  .n-policy-terms-container {
    padding: 183px 72px 60px;
    width: 1440px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .n-policy-terms-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .n-policy-terms-text {
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .n-policy-terms-text-one {
    padding-top: 30px;
  }

  .n-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.n-footer-container {
  width: 375px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;
  padding: 32px;
}

.n-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.n-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.n-footer-copyright {
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1203px) {
  .n-footer-container {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 24px 32px;
    gap: 16px;
  }

  .n-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .n-footer-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .n-footer-copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.n-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 24px;
  background: rgba(255, 228, 234, 1);

  z-index: 1000;
  display: none;
}

.n-cookie-popup-text-two {
  font-family: Inika;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: rgba(75, 12, 36, 1);
}

.n-cookie-button-container {
  padding: 11px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.n-cookie-button {
  border: none;
  background-color: transparent;
  width: 133px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 14px;
  border: 1px solid rgba(108, 221, 255, 1);
  font-family: Inika;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(75, 12, 36, 1);
}

#accept-cookies {
  background: rgba(108, 221, 255, 1);
}

.n-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.n-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1203px) {
  .n-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }

  .n-cookie-popup-text-two {
    font-family: Inika;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .n-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .n-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
